* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

#cards_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    justify-content: start;

    .card {
        min-width: 100px;
        width: 10%;
        height: 100px;
        border: 1px solid black;
        background-color: lightgrey;
        border-radius: 5px;
    }
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
}

#btnJeu{
    padding: .5rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
border-style:inset;
}